body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(11, 219, 185);
}

.container{
    text-align: center;
}

.counter{
    display: flex;
    align-items: center;
}

button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
}
button:focus{
    outline: none;

}

#value{
    font-size: 24px;
    width: 50px;
    text-align: center;
}